h2{
    color: red;

}
.search{
    color: brown;
    display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  text-align: left;
}
#se{
    color:red;
}